// Add any custom Sass & CSS here


html, 
body {
    height: 100%;
}
/*a, a:link,a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}*/

body
{
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background-color: #ffefef;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color:#0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1,h4
{

	color:#0;
	text-align: center;

}
h2
{
	font-size: 30px;
	font-weight: 500;
}
.searchinput
{
	width: 100%;
}
.searchbox
{
	width:50%;
	padding:20px;
	background-color: #A7D8D1;
	margin:15px auto;
}
.listimg
{
	height:100px;
	width:75px;
}
.gallerypic
{
	height:200px;
	width:150px;
}
.listview
{
	margin-left:5px;
	margin-right: 5px;
	width: 100%;
	p
	{
		color:#0;
	}
}
.mouseon
{
	width: 100%;
	margin:0px;
}

.datail-view
{
	width:100%;
	background-color: #acacac;
	.content
	{
		
		
	}
}




