

<div  ng-controller="MovieListCtrl">


<div class="searchbox">
  <div class="row">
  <div class="small-12 columns small-centered">

    Search:<br> <input ng-model="query" class="searchinput" placeholder="Search Your Movie"><br>
    Sort by:
    <select ng-model="orderProp">
      <option value="title">Title</option>
      <option value="imdbRating">Rating</option>
    </select>
    <button class="button success" ng-click="reverse=false">Ascending</button>
      <button class="button alert" ng-click="reverse=true">Descending</button>
  </div>
</div>

</div>
  <div class="row">
    <div class="small-8 columns small-centered ">
      <ul class="movies">
        <li  ng-repeat="movie in movies | filter:query | orderBy:orderProp:reverse" class="thumbnail listview" ng-class="{mouseon:big}" ng-mouseenter="big = true"
     ng-mouseleave="big = false">
          
          <a href="#/list/{{movie.rank-1}}" class="thumb ">
            <div class="row">
              <div class="small-3 columns">
                <img class="listimg" src="/data/images/{{movie.imdbID}}.jpg" >
              </div>
              <div class="small-9 columns">
                <br><h2>{{movie.title}}</h2>
                <p> Rank: {{movie.rank}}<p>
              </div>
          </div>
          </a>
          </br>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 
<div ng-controller="ExampleController">
  <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
  <hr/>
  [ <a href="" ng-click="predicate=''">unsorted</a> ]
  <table class="friend">
    <tr>
      <th><a href="" ng-click="predicate = 'name'; reverse=false">Name</a>
          (<a href="" ng-click="predicate = '-name'; reverse=false">^</a>)</th>
      <th><a href="" ng-click="predicate = 'phone'; reverse=!reverse">Phone Number</a></th>
      <th><a href="" ng-click="predicate = 'age'; reverse=!reverse">Age</a></th>
    </tr>
    <tr ng-repeat="friend in friends | orderBy:predicate:reverse">
      <td>{{friend.name}}</td>
      <td>{{friend.phone}}</td>
      <td>{{friend.age}}</td>
    </tr>
  </table>
</div> -->